.animated-border {
  position: relative;
  background: var(--black);
  border-radius: 10px; corner-shape: squircle;
  --animation-width: 4px

  &::before, &::after {
    content: '';
    position: absolute; inset: 50%; translate:-50% -50%;
    width: 100%; height: 100%; border-radius: inherit; corner-shape: inherit;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite; animation-play-state: paused;
    z-index: -1;
  }

  &:hover &::before, &:hover &::after { animation-play-state: running }

  &::before { padding: var(--animation-width) }
  &::after { filter: blur(1.5rem); opacity: .5; padding: calc(var(--animation-width) * 2) }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes spin {
    from { --angle: 0deg }
    to { --angle: 360deg }
  }
}
