.carousel {
  width: 90%;
  margin-inline: auto;
  display: flex; gap: .5em; overflow-x: auto;
  anchor-name: --carousel;
  scroll-behavior: smooth; scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  --background-color: purple;
}
.carousel::-webkit-scrollbar { display: none }

.carousel::scroll-button(left), .carousel::scroll-button(right) {
  position: fixed; position-anchor: --carousel;
  width: 45px; height: 45px;
  padding-bottom: .15em; border: none; border-radius: 50%;
  font-size: 2rem; color: white;
  background-color: oklch(from(var(--background-color) 25% c h));
  cursor: pointer;
}

.carousel::scroll-button(left) { content:'←'; position-area: left center; translate: 50% }
.carousel::scroll-button(right) { content:'→'; position-area: right center; translate: -50% }

.carousel::scroll-button(left):hover, .carousel::scroll-button(right):hover { background-color: oklch(from(var(--background-color) l c h)) }
.carousel::scroll-button(left):disabled, .carousel::scroll-button(right):disabled { background-color: oklch(from(var(--background-color) 25% c h)); opacity: .65; cursor: auto; }

.carousel::scroll-marker-group { display: flex; justify-content: center; gap: .5em; }
.carousel::scroll-marker {
  content:''; width: 1em; height: 1em;
  background-color: oklch(from(var(--background-color) 90% c h));
  border-radius: 50%;
}
.card::scroll-marker:target-current { background-color: oklch(from(var(--background-color) 25% c h)) }
.card::scroll-marker:target-current:hover { background-color: oklch(from(var(--background-color) l c h)) }

.card {
  flex: 0 0 100%; align-content: center;
  height: 5em;
  padding: 1em; border-radius: .2em;
  background: cornflowerblue;
  font-size: 3rem; text-align: center;
  scroll-snap-align: start;
  @media (width > 768px) {flex: 0 0 10em}
}