@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "colors.css";

:root { font-size: 10px; /*1 em = 10 px*/ }

:root {
  @media only screen and (max-width: 1200px) { --screen: notebook }
  @media only screen and (max-width: 992px)  { --screen: laptop }
  @media only screen and (max-width: 768px)  { --screen: tablet }
  @media only screen and (max-width: 600px)  { --screen: mobile }
}

:root {
  @media (prefers-color-scheme: light) {
    --theme: light; color-scheme: light;
  }
  @media (prefers-color-scheme: dark) {
    --theme: dark; color-scheme: dark;
  }
}

@media (prefers-reduced-motion: reduce) {}

:root {
  --text: hsl(0deg 0% 16.86%);
  --text-washed: hsl(from var(--text) h s calc(l + 30));

  @container style(--theme: dark) {
    --text: hsl(0deg 0% 90%);
    --text-washed: hsl(from var(--text) h s calc(l - 20));
  }
}

::-webkit-scrollbar{ width: 6px }
::-webkit-scrollbar-track{ background: #f1f1f1 }
::-webkit-scrollbar-thumb{ background: #bbb }
::-webkit-scrollbar-thumb:hover{ background: #999 }
::selection{ background: #30f2bb }
@container style((--screen: tablet) or (--screen: mobile)) { ::-webkit-scrollbar{ display: none } }

* {
  box-sizing: border-box;
  outline-color: transparent;  /* same effect as outline: none, but still allows high contrast mode (accessibility) */

  word-wrap: normal; word-break: keep-all;
  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;

  /* place-items: center; place-content: center; */
  background-size: cover; background-position: center; background-repeat: no-repeat; background-origin: border-box;
  
  -webkit-user-select: none; user-select: none; /* prevents text selection highlighting on double click -> useful when developing html apps */
  -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;  /* prevents highlight upon tapping elements */

  &:is(:hover, :focus, :focus-visible, :focus-within) { outline-color: var(--accent) }
}

*, *:before, *:after {
  transition: all ease 0.3s; -webkit-transition: all ease 0.3s;
  @media (prefers-reduced-motion: reduce) { animation: none!important; transition: none!important; -webkit-transition: none!important; }
}

.selectable-text { -webkit-user-select: all; user-select: all } /* makes easier for users to select a selectable text */

html {
  color-scheme: dark light;
  accent-color: var(--accent);

  font-family: Roboto, arial, sans-serif; font-weight: normal; color: var(--text); 
  font-size: 1.2em; line-height: 1.4em; /* 12 px and 14 px */
  
  scroll-behavior: smooth; /* scrollbar-gutter: stable; */
  interpolate-size: allow-keywords; /* allow animations with: auto, fit-content, fill-available */
  transition-behavior: allow-discrete; /* allow animations with: display , visibility, var(--myVar) */
 }

body {
  width: 100svw; min-height: 100svh;
  margin: 0; padding: 0; border: 0;
  background: var(--bg-color, #fff); overflow-x: hidden;
  display: grid; grid-template-rows: auto 1fr auto; /* header, main, footer */
}

main, header, footer { width: 100%; display: flex; align-items: center }
main { flex-direction: column }

h1, h2 { min-inline-size: minmax(fit-content, 80%); margin: auto; font-weight: bold; text-wrap: balance } /* min-inline-size acts similarly to width; balance breaks text keeping the same number of words in each line */
h1 { font-size: clamp(1.6rem, 3vw + 1rem, 3rem);    margin-block: 1rem } /* responsive and zoomable font-size; top and bottom margin only */
h2 { font-size: clamp(1.2rem, 2vw + .8rem, 2.5rem); margin-block: .8rem }

p  { font-size: clamp(.8rem, .8vw + .5rem, 1rem); line-height: clamp(.9rem, 1vw +.7rem, 1.2rem) }
p, li, figcaption { max-width: 65ch; text-wrap: pretty } /* prevents overexagerated text width, easier for readers; pretty breaks text more naturally, avoids orfan words */

a { text-decoration: none; cursor: pointer }
a.disabled { pointer-events: none; cursor: default }
[href$=".pdf"]::after { content: url(/icons/file-save.svg) / "download PDF file" } /* adds an icon and alt text to downloadable pdf href */
[href^="http"]::after { content: url(/icons/external-link.svg) / "external link" } /* adds an icon and alt text to external links */

img, picture, video, svg { display: block; max-width: 100%; height: auto; object-fit: cover; object-position: center } /* max-width and height allow responsivity */

button, div[onclick], input, select, option { cursor: pointer; -webkit-user-select: none; user-select: none }
button, div[onclick] { inline-size: fit-content } /* will break text only on small screens and prevents overflow */

button, input, textarea, select { font-family: inherit; font-size: inherit; color: inherit }
textarea { field-sizing: content }
select option { color: var(--text) }
select:invalid, option:disabled { color: var(--text-washed) }
table { border-collapse: collapse; font-variant-numeric: tabular-nums }


@media only screen and (min-width: 600px)  {} /* phones  */
@media only screen and (min-width: 768px)  {} /* tablets */
@media only screen and (min-width: 992px)  {} /* laptops */
@media only screen and (min-width: 1200px) {} /* large   */

@container style((--screen: mobile) {} /* phones */
@container style((--screen: mobile) or (--screen: tablet) /* tablets or phones */

@media only screen and (orientation: landscape) {}
@media only screen and (orientation: portrait) {}

@media (prefers-reduced-motion: reduce) {}


.row {
  width: clamp(250px, 80%, 1200px); margin-inline: auto;  /* left and right margin only */
  display: grid; gap: clamp(1rem, 5vw, 2rem); place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr))
  
  @container style((--screen: tablet) or (--screen: mobile)) { grid-template-columns: unset }/* on small screens, it will behave as a single column */
}

.card {
  display: grid; grid-template-rows: subgrid; grid-row: span 5; gap: 0; /* subgrid will align content with other children content */
  padding: clamp(.5rem, 5vw, 1rem);
}

/*
TIPS:
- inset: 0 0 0 0 -> replaces top, left, bottom, right
- isolation: isolate -> creates a new stacking context for z-index management
- aspect-ration: w / h -> maintains aspect ratio of an element, useful for images and videos
- background-repeat: space -> prevents background images from being cut off

- div p -> selects all 'p's inside 'div'
- div > p -> selects only 'p's that are direct children of div
- div + div -> selects all 'p's that are siblings and come after any first 'p'
- div ~ div -> selects all 'p's that are siblings and come after the very first 'p'

- div[class] -> if it has a class
- div[class="row"] -> same as div.row
- div[class^="row"] -> select divs that have a class starting with 'row'
- div[class$="row"] -> select divs that have a class ending with 'row'
*/




