<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marco Martins - CV</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Marco Martins">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e0ebdb"><!--#2f4550-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script defer type="text/javascript" src="vue.global.js"></script>
  <script defer type="text/javascript" src="vue.js"></script>
  <script defer type="text/javascript" src="script.js"></script>
</head>
<body>
<div id="app">
  <div class="row"><div class="container page">

    <div class="third">
    <div class="photo"><h1 class="name web">{{base.name}}</h1></div>
    <h1 class="name mob">{{base.name}}</h1>
     <div id="core" class="info">
      <p v-if="location[locale].length"><i class="fa fa-home fa-fw"></i>{{location[locale]}}</p>
      <p v-if="base.phone.length"><i class="fa fa-phone fa-fw"></i><a target="_blank" :href="'https://wa.me/'+base.phone">{{base.phone}}</a></p>
      <p v-if="base.email.length"><i class="fa fa-envelope fa-fw"></i><a target="_blank" :href="'mailto:'+base.email">{{base.email}}</a></p>
      <p v-if="base.github.length"><i class="fa fa-brands fa-github fa-fw"></i><a :href="'https://github.com/'+base.github" target="_blank">/{{base.github}}</a></p>
      <p v-if="base.linkedin.length"><i class="fa fa-brands fa-linkedin fa-fw"></i><a :href="'https://linkedin.com/in/'+base.linkedin" target="_blank">/{{base.linkedin}}</a></p>
     </div>
     <hr>
   
     <div id="language" class="info" v-if="languages[locale].length">
      <p class="m0"><b><i class="fa fa-globe fa-fw"></i>{{headings[locale].idioms}}</b></p>
      <div v-for="language in languages[locale]">
        <p>{{language.name}}<span class="small" v-if="language.details"> ({{language.details}})</span></p>
        <div class="bar"><div class="bar ani-scroll" :class="'w'+language.level"></div></div>
      </div>
     </div>
     <hr>
   
     <div id="skills" class="info web" v-if="skills[locale].length">
      <p class="m0"><b><i class="fa fa-asterisk fa-fw"></i>{{headings[locale].skills}}</b></p>
      <div v-for="skill in skills[locale]">
        <p>{{skill.name}}<br><span class="small">{{skill.details}}</span></p>
        <div class="bar"><div class="bar ani-scroll" :class="'w'+skill.level"></div></div>
      </div>
     </div>
    </div>
   
    <div class="twothirds">
   
      <div id="comment" class="info" v-if="headings[locale].intro">
        <h2><b><i class="fa fa-comment fa-fw"></i>{{headings[locale].intro}}</b></h2>
        <p>{{intro[locale]}}</p>
      </div>
      
      <div id="scholl" class="info" v-if="education[locale].length">
        <h2><b><i class="fa fa-graduation-cap fa-fw"></i>{{headings[locale].edu}}</b></h2>
        <div v-for="edu in education[locale]">
          <h3><b>{{edu.name}}</b></h3>
          <p>{{edu.details}}</p>
        </div>
      </div>
    
      <div id="work" class="info" v-if="experiences[locale].length">
        <h2><b><i class="fa fa-coffee fa-fw"></i>{{headings[locale].exp}}</b></h2>
        <div v-for="experience in experiences[locale]">
          <h3><b>{{experience.name}}</b></h3>
          <p>{{experience.details}}</p>
        </div>
      </div>
      
      <div id="courses" class="info" v-if="courses[locale].length">
        <h2><b><i class="fa fa-award fa-fw"></i>{{headings[locale].courses}}</b></h2>
        <div v-for="course in courses[locale]">
          <h3><b>{{course.name}}</b></h3>
          <p>{{course.details}}</p>
        </div>
      </div>
      
      <div class="pagebreak"></div>
    
      <div id="achievements" class="info pb" v-if="achievements[locale].length">
        <h2><b><i class="fa fa-star fa-fw"></i>{{headings[locale].results}}</b></h2>
        <div v-for="achievement in achievements[locale]">
          <h3 v-if="!achievement.details"><b>{{achievement.name}}</b><span>{{' '+achievement.span}}</span></h3>
          <div v-else class="mais">
            <div class="more" onclick="show(this)">
              <h3><b>{{achievement.name}}</b>
                <span v-if="achievement.span.includes('\n')" v-for="line in achievement.span.split('\n')">{{line}}<br/></span>
                <span v-else>{{' '+achievement.span}}</span>
              </h3>
              <div class="plus"></div>
            </div>
            <div class="details hid"><div>
              <p>{{headings[locale].activities}}:</p>
              <ul>
                <li v-for="detail in achievement.details">
                  <i v-if="detail.subhead">{{detail.subhead}}: </i>{{detail.text}}
                </li>
              </ul>
            </div></div>
          </div>
        </div> 
      </div>
    </div>
   
    <div class="third mob m0 pt0" v-if="skills[locale].length">
      <div id="skills_mob" class="info m0">
        <p class="m0"><b><i class="fa fa-asterisk fa-fw"></i>{{headings[locale].skills}}</b></p>
        <div v-for="skill in skills[locale]">
          <p>{{skill.name}}<br><span class="small">{{skill.details}}</span></p>
          <div class="bar"><div class="bar ani-scroll" :class="'w'+skill.level"></div></div>
        </div>
      </div>
    </div>

    </div></div>
   
  <div class="lang"><select @change="changeLang">
    <option v-for="(opt,key) in locales" :value="key">{{opt}}</option>
  </select></div>

</div>
</body>
</html>
