:root{--black:#3b3b3b;--washblack:#838383;--white:#fff;--color:rgb(76,189,25);--backcolor:rgba(76,189,25,.1)}
*,*:before,*:after{margin:0;padding:0;transition:all .1s ease,opacity .3s ease;color:var(--black);word-wrap:normal;word-break:keep-all;box-sizing:border-box}
html,body{overflow-x:hidden;width:100vw}
::-webkit-scrollbar{width:6px}::-webkit-scrollbar-track{background:#f1f1f1}::-webkit-scrollbar-thumb{background:#bbb}::-webkit-scrollbar-thumb:hover{background:#999}::selection{background:#30f2bb}

div[onclick]{cursor:pointer}
.row{display:inline-flex;position:relative;width:100%}
.container{margin:auto;position:relative;float:left;width:80%;max-width:1200px}
.half,.third,.twothirds{float:left}
.half{width:49.99999%}.third{width:33.33333%}.twothirds{width:66.66666%}

h1,h2{letter-spacing:2px;font-family:'Lora', serif}
h1{font-size:1.8em;font-weight:500;bottom:0;position:absolute;color:#fff;margin:12px 20px;text-shadow:2px 2px 3px #252525,2px 2px 5px #252525}
h2{font-size:1.4em;margin:1.2em 0;font-weight:600}
h3,p,li{line-height:2em;letter-spacing:.8px;text-align:justify;font-size:1.1em;font-weight:300}
li{margin-left:25px}
h3,.third p{margin:.4em 0}
.small{font-size:.9em;margin:0;letter-spacing:normal}
b{font-weight:bold}i{font-style:italic}
a{text-decoration:none;word-wrap:break-word}

body{background:#f1f1f1}
hr{border:0;border-top:1px solid var(--black);margin:20px 100px 20px 0;height:0;opacity:.8}.third hr{border-color:var(--white);margin:0 20px}
.third{background:var(--backcolor);height:100%}
.info{padding:30px 45px}
.twothirds{padding-left:45px}
.page{margin:100px auto;padding:120px 75px 0;width:90%;max-width:1200px;box-shadow:6px 10px 28px 0px rgba(0,0,0,0.4);overflow-y:hidden}
.photo{position:relative;width:100%;padding-bottom:100%;background:url("pic.jpg");background-size:cover;background-position:center}
.fa{margin-right:5px}.fa,.fa:before,.fa:after{color:var(--color)!important}
.bar{border-radius:16px;height:10px;background:#f1f1f1;width:100%;margin:10px 0 15px}
.ani-scroll{background:var(--color)}
.w100{width:100%}.w95{width:95%}.w90{width:90%}.w85{width:85%}.w80{width:80%}.w75{width:75%}.w70{width:70%}.w65{width:65%}.w60{width:60%}.w55{width:55%}.w50{width:50%}.w45{width:45%}.w40{width:40%}.w35{width:35%}.w30{width:30%}.w25{width:25%}.w20{width:20%}.w15{width:15%}.w10{width:10%}.w5{width:5%}
.m0{margin:0!important}
.fa-envelope:before{color:black}h2 .fa{padding-right:35px}.fa{padding-right:25px}
.mob{display:none}.pb{padding-bottom:120px}

.lang{position:fixed;top:0;right:0;padding:10px}
select{text-align:center;padding:3px}

#skills,#skills_mob{text-align:left!important}
.details{opacity:1;max-height:unset;font-size:90%}
.hid,.hid *{max-height:0!important;opacity:0}
.details div{padding:10px 15px 20px}

.more{position:relative;display:flex;align-items:center}
.plus{position:absolute;left:-50px;width:35px;height:35px;border-radius:100%;display:flex;align-items:center;justify-content:center}
.plus:before,.plus:after{content:'';position:absolute;width:15px;height:2px;background-color:var(--color);border-radius:100%}
.plus:after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.close{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.more:hover .plus{background:var(--backcolor)}

.ani-width{animation: ani-width 1.5s ease-out}
@keyframes ani-width{0%{width:0}}

@media (max-width:730px){
.half,.third,.twothirds{width:100%}
.twothirds{padding:30px}
.third{padding:30% 30px 45px;margin-top:100px;height:unset;position:relative}
.photo{position:absolute;width:50%;padding-bottom:50%;border-radius:100%;top:0;left:50%;margin:-25%}
h1{position:relative;text-align:center;margin:0;width:100%;color:var(--black);text-shadow:none;font-weight:bold}
hr{display:none}
#scholl{margin:0}
.web{display:none}.mob{display:block}
.page{margin:0;width:100%;padding:120px 20px}
.twothirds .info{padding:30px 0}
.pt0{padding-top:45px}.pb{padding-bottom:0}
.plus{left:-45px}
}

@media print{
*{-webkit-print-color-adjust:exact;-moz-print-color-adjust:exact;-ms-print-color-adjust:exact;print-color-adjust:exact}
html,body,.page,.container{width:100%}
body{background:#fff;margin:0;padding-left:60px}
.page{margin:0;padding:0;min-height:297mm}
.container{max-width:unset;box-shadow:none}
.info{padding:15px 45px;page-break-after:always;break-after:page}
.third{width:38.9999%}.twothirds{width:60.9999%}
.third .info{padding:30px}
h1,h2,h3,p,.details,li{line-height:1.5em;font-size:90%;break-inside:avoid;page-break-inside:avoid}
h1{font-size:150%}
h2 .fa{padding-right:25px}
.twothirds{padding:0}#work,#achievements{padding:0 45px}
.pagebreak{page-break-before:always;break-after:page}
#pgdivider{background:none;height:1px;margin:0}
#comment{padding-top:30px}
#achievements{padding-bottom:70px}
head,script,style,hr,.lang,.plus{display:none}
@page{size:A4;margin:17mm 5mm 15mm 0mm!important}
}