/*** CSS Functions ***/
@function --inner-radius(--outer, --padding) {
  result: max(0px, calc(var(--outer) - var(--padding)));
}

@function --media-query(--phone, --tablet, --laptop, --large) {
  /* if stops at the first matching condition */
  result: if(
    media(width >= 992px): var(--large);
    media(width >= 768px): var(--laptop);
    media(width >= 600px): var(--tablet);
    else: var(--phone);
  );
}

/* parameters with defined type(s) and a default value */
@function --transparent(--color <color>, --alpha type(<number> | <percentage>): 0.2) 
returns <color> {
  result: oklch(from var(--color) l c h);
  result: oklch(from var(--color) l c h / var(--alpha));
  /* in CSS functions the last 'result' always wins (cascade) - it's quite different from JS 'return' behavior */
}

.flex-card {
  --color: --media-query(red, orange, green, blue);
  --border-radius: 2em;
  --padding: clamp(.5rem, 5vw, 1rem);

  display: flex; gap: 1em;
  flex-direction: --media-query(column, row, row, row);
  padding: var(--padding);
  border: 1px solid var(--color); border-radius: var(--border-radius);
  background-color: --transparent(var(--color));
  
  & > img {
    width: --media-query(100%, 50%, 60%, 70%); height: auto; aspect-ratio: 16/10;
    border-radius: --inner-radius(var(--border-radius), var(--padding))
  }
}