::-webkit-scrollbar { width: 6px; height: 6px; }

:root {
  --scrollbar-color: #999;
  --scrollbar-track: oklch(from var(--scrollbar-color) calc(l * pow(var(--lighten), 2)) c h); /* dark: ~90% */
  --scrollbar-thumb: oklch(from var(--scrollbar-color) calc(l * pow(var(--lighten), 1)) c h); /* mid: ~75% */
  --scrollbar-hover: oklch(from var(--scrollbar-color) l c h); /* calc(l * pow(var(--lighten), 0)) */ /* light: 100% */

  @media (prefers-color-scheme: dark) { --scrollbar-color: #555555; }
}

::-webkit-scrollbar-track       { background-color: var(--scrollbar-track, #f1f1f1) }
::-webkit-scrollbar-thumb       { background-color: var(--scrollbar-thumb, #bbb) }
::-webkit-scrollbar-thumb:hover { background-color: var(--scrollbar-haover, #999) }

/* Hide scrollbar on tablets and mobile */
@container style((--screen: tablet) or (--screen: mobile)) {
  /* ::-webkit-scrollbar{ display: none } */
}